{% extends 'base.html.twig' %}

{% block title %}Bodrum - Ajouter - Patient{% endblock %}

{% block body %}
<div id="form_login">
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>
</div>
{% endblock %}